{% extends 'layout.html' %}
{% block body %}
<div>
<br>
<br><br>
<img src="https://cdn.pixabay.com/photo/2015/03/28/16/40/lake-696098__340.jpg" alt="Nature" class="responsive">
<hr>

<h3>HAKKIMDA</h3><br>
<h4></h4>
<div>
<p class="text-font">
Ben Esra Garip ,Eskişehir Teknik Üniversitesi Bilgisayar Mühendisliği öğrencisiyim. Koronavirüsle mücadele ettiğimiz bugünlerde kendi bloğumu açma kararı aldım. Bloğumda mesleğime yani bilgisayar bilimine yönelik içerik ve makalelere yer vereceğim. Biraz pragmatik bir yaklaşımla öğretirken öğreneceğim.
Bilgisayar bilimi çok fazla alt alana sahip ben ağırlıklı olarak yazılım ağırlıklı olarak sizlerle olacağım.
</p>

</div>
<h4>Eğitim</h4>
<div class="list-group">
 <br>
 <ul class="list-group list-group-flush text-font">
  <li class="list-group-item text-font">Karakaya İlköğretim Okulu</li>
  <li class="list-group-item text-font">Tirebolu Anadolu Lisesi</li>
  <li class="list-group-item">Siaulia Üniversitesi</li>
  <li class="list-group-item">Eskişehir Teknik Üniversitesi</li>
    
</ul>
</div>
<h4></h4>
</div>

<section class="ftco-section contact-section ftco-no-pb" >
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">

                <h2  style="font-family: 'Mitr', sans-serif; font-size: 32px" class="mb-4">Contact Me <br>
                    <hr style="width: 300px;border: 2px solid blue;padding: 0"></h2>
                <p style="font-family: 'Montserrat', sans-serif; font-size: 18px">We are here to help and answer any questions you might have. <br>We look forward to hearing from you. </p>
            </div>
        </div>

        <div class="row d-flex contact-info mb-5">
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box text-center p-4 shadow">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span > <i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <div>
                        <h3 class="mb-4">Address</h3>
                        <p> Giresun ,Tirebolu ,Turkey 25th Street </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box text-center p-4 shadow">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span><i class="fas fa-phone"></i></span>
                    </div>
                    <div>
                        <h3 class="mb-4">Contact Number</h3>
                        <p><a href="tel:+905555555555//">+905555555555</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box text-center p-4 shadow">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span><i class="fas fa-envelope-open-text"></i></span>
                    </div>
                    <div>
                        <h3 class="mb-4">Email Address</h3>
                        <p><a href="mailto:info@yoursite.com">esra.garip4133@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box text-center p-4 shadow">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span ><i class="fas fa-globe"></i></span>
                    </div>
                    <div>
                        <h3 class="mb-4">Website</h3>
                        <p><a href="homepage.html">esragarip.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}